/*footer styling After loging In */

.Admin-Footer {
  align-items: center;
  display: flex;
  gap: 64px;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  width: 100%;
  background-color: rgb(255, 255, 255);

}

.Admin-Footer__vector {
  position: absolute;
  top: 0; /* Ensure it starts at the top of the Admin-footer */
  width: 100%;
  height: auto;
  object-fit: cover;
}

  
.Admin-Footer__credits {
  display: inline-flex;
  position: relative;
  top: 15px;
  justify-content: space-around;
  width: 100%;
}






.Admin-Footer__copyright {
  color: #000000;
  font-family: var(--text-small-normal-font-family);
  font-size: var(--text-small-normal-font-size);
  font-style: var(--text-small-normal-font-style);
  font-weight: var(--text-small-normal-font-weight);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.Admin-Footer__links {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.Admin-Footer__link {
  color: #000000;
  font-family: var(--text-small-link-font-family);
  font-size: var(--text-small-link-font-size);
  font-style: var(--text-small-link-font-style);
  font-weight: var(--text-small-link-font-weight);
  letter-spacing: var(--text-small-link-letter-spacing);
  line-height: var(--text-small-link-line-height);
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}



/*footer styling before loging in*/

.Afooter {
  background-color: #1e1e1e;
  width: 100%;
  padding: 50px 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.Afooter-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
  gap: 130px;
}

.AfooterLogo img {
  object-fit: contain;
  margin: 20px 0;
}

.Afooter-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 16px;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icons img {
  cursor: pointer;
}

.Afooter-links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  /* line-height: 22.5px; */
}

/* .Afooter-links li {
  margin-bottom: 10px;
  cursor: pointer;
} */

.contact-info {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
}

.contact-info p {
  margin: 0 0 10px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  margin-top: 20px;
}

.copyright img {
  object-fit: contain;
}





