.Admin-Footer {
  align-items: center;
  display: flex;
  gap: 64px;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  width: 100%;
  background-color: rgb(255, 255, 255);

}

.Admin-Footer__vector {
  position: absolute;
  top: 0; /* Ensure it starts at the top of the Admin-footer */

  width: 100%;
  height: auto;
  object-fit: cover;
  /* z-index: 10; Higher value to keep it above other elements */
}

  
.Admin-Footer__credits {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 879px;
  position: relative;
  top: 15px;
  /* z-index: 5; Lower than vector to stay underneath */
}






.Admin-Footer__copyright {
  color: #000000;
  font-family: var(--text-small-normal-font-family);
  font-size: var(--text-small-normal-font-size);
  font-style: var(--text-small-normal-font-style);
  font-weight: var(--text-small-normal-font-weight);
  letter-spacing: var(--text-small-normal-letter-spacing);
  line-height: var(--text-small-normal-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.Admin-Footer__links {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.Admin-Footer__link {
  color: #000000;
  font-family: var(--text-small-link-font-family);
  font-size: var(--text-small-link-font-size);
  font-style: var(--text-small-link-font-style);
  font-weight: var(--text-small-link-font-weight);
  letter-spacing: var(--text-small-link-letter-spacing);
  line-height: var(--text-small-link-line-height);
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}





