  
  /* Hero section styles */
   .contact-hero {   
    background-image: url('../images/contactus/img32.jpg');
    opacity: 80%;
    background-size: cover;
    background-position: center;
  }
  
  .contact-hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: 'Texturina', serif;
  }
  
  /* Contact section styles */
  .contactus-page-contact-section {
    display: flex;
    padding: 50px 10%;
    gap: 50px;
  }
  
  .contactus-page-contact-info {
    flex: 1;
    padding-right: 50px;
  }
  
  .contactus-page-contact-info h2 {
    color: #498cff;
    margin-bottom: 20px;
  }
  
  .contact-details {
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;
    font-family: 'Texturina', serif;
    text-align: center;
  }
  .contact-details h2{
    color: #498cff;
  }
  
  .detail-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    gap: 15px;
  }
  
  .detail-item img {
    margin-top: 5px;
  }
  
  .detail-item h3 {
    margin: 0;
    color: #333;
    font-size: 18px;
  }
  
  .detail-item p {
    margin: 5px 0 0;
    color: #666;
  }
  
  /* Contact form styles */
  .contact-form {
    flex: 1;
    padding: 30px;
  
    width: 100%;
   
    margin-bottom: 20px;
    border: none;
    /* border: 0px 2px 0 0; */
    /* border-bottom: 2px solid transparent; */
    background-color: transparent;
    font-size: 16px;
    outline: none;
    color: #333;
    /* transition: border-color 0.3s, background-color 0.3s; */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    /* border-radius: 5px; */
    font-size: 16px;
    border-bottom: 2px solid #1a1a2e; /* Highlight color on focus */
    background-color: transparent;
  
  
  }
  .line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
  }
  
  .line-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
  }
  
  .line {
    flex-grow: 1;
    height: 2px;
    background: #498cff;
    border: none;
  }
  
  .circle {
    width: 8px;
    height: 8px;
    background-color: #498cff;
    border-radius: 50%;
  }
  
  .line-text {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #498cff;
    padding: 0 10px;
  }
  
  
  .form-group textarea {
    height: 120px;
    resize: none;
  }
  
  button[type="submit"] {
    width: 105.3%;
    padding: 15px;
    background: #498cff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
