.img {
  height: 1027px;
  left: 323px;
  position: absolute;
  top: 0;
  width: 1px;
}
.overlap-group {
  height: 1028px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

 .vector {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1026px;
  width: 100%;
}

.frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 10px;
  position: absolute;
  top: 15px;
  width: 300px;
}

.frame-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 4px;
}

.rectangle {
  
  background-color: #000000;
  height: 85px;
  position: relative;
  width: 5px;
}

.frame-3 {
  align-items: center;
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #a196c5;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  gap: 10px;
  height: 52px;
  padding: 16px 39px 16px 15px;
  position: relative;
  width: 100%;
}

.img-2 {
  height: 24px;
  margin-bottom: -2.00px;
  margin-top: -2.00px;
  position: relative;
  width: 24px;
}

.text-wrapper {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.05px;
  line-height: normal;
  margin-bottom: -1.50px;
  margin-top: -2.50px;
  position: relative;
  width: 137px;
}


/* Add styles for the active tab */
.frame-3.active-tab {
  background-color: #fbf7ef;
}

.text-wrapper.active-text {
  color: #a196c5;
}
.rectangle.active-rectangle {
  background-color: #a196c5; 
}

