 
  .stories-hero {
    background: url('../images/stories/hero.png') no-repeat center/cover;
  }
  
  .stories-container {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    align-items: center;
    gap: 40px; /* Space between cards */
    margin-top: 50px;
    padding: 0 20px; /* Padding for the container */
  }
  
  .story-card {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between image and text */
    border-radius: 15px; /* Rounded corners */
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 20px; /* Internal padding */
    width: 80%; /* Percentage width of the container */
    max-width: 800px;
    margin: 30px auto; /* Center-align the card horizontally */
  }
  
  
  .story-card.image-left {
    flex-direction: row; /* Default: image on the left */
  }
  
  .story-card.image-right {
    flex-direction: row-reverse; /* Reverse: image on the right */
  }
  
  .story-card:hover {
    transform: translateY(-5px); /* Lift effect on hover */
  }
  
  .story-image {
    width: 400px !important; /* Fixed width for images */
    /*height: 100px; /* Fixed height */
    object-fit: cover; /* Ensure the image is properly cropped */
    border-radius: 20px; /* Rounded corners for images */
    margin-right: 50px;
  }
  
  .story-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    max-width: 500px; /* Limit text width */
    gap: 10px; /* Optional: Add spacing between child elements */
  }
  
  .story-title {
    font-size: 2rem; /* Larger title */
    color: #000; 
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .story-description {
    font-size: 1rem;
    color: #000 !important; /* Ensure black color */
    line-height: 1.5; /* Add line height for better readability */
  }

  .learn-more-button {
    background-color: #A285FF; /* Updated lighter purple */
    color: white; /* White text */
    padding: 8px 16px; 
    border: none;
    border-radius: 8px; /* Slightly rounded corners */
    font-size: 0.9rem; /* Smaller font size */
    cursor: pointer;
    font-weight: bold; /* Bold text for visibility */
    width: 150px; /* Ensure the width is not fixed */
    min-width: unset; /* Remove any default minimum width */
    transition: background-color 0.3s ease;
    align-items: center;
  }

  /* Responsive Design */
@media (max-width: 768px) {
  .story-card {
      flex-direction: column;
      align-items: center;
  }

  .story-card {
      width: 80%;
  }
}
  
  .learn-more-button:hover {
    background-color: #9673EE; /* Darker shade for hover */
  }
  